Django==1.6.1
Flask==0.10.1
Flask-Login==0.2.10
Flask-OpenID==1.2.1
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.5
Jinja2==2.7.1
MarkupSafe==0.18
SPARQLWrapper==1.5.2
SQLAlchemy==0.9.3
Tempita==0.5.2
WTForms==1.0.5
Werkzeug==0.9.4
beautifulsoup4==4.3.2
chardet==2.2.1
decorator==3.4.0
django-appconf==0.6
django-csvimport==1.0
gunicorn==18.0
html5lib==1.0b3
ipython==1.1.0
isodate==0.4.9
itsdangerous==0.23
pbr==0.7.0
pyparsing==1.5.7
python-openid==2.2.5
rdflib==4.0.1
requests==2.1.0
six==1.4.1
sqlalchemy-migrate==0.9
stevedore==0.13
twitter==1.10.2
virtualenv==1.11
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
